.h1-logo {
    font-size: 32px;
}

.img-logo {
    margin-top: -10px;
    height: 30px;
    width: 30px;
}

/*Borde Logo*/
.w3_navigation_pos h1 a {
    border: 3px solid #9A0E1F;
}

/*Color Hover Menu*/
.navbar-default .navbar-nav > li > a:hover {
    color: #9A0E1F;
}

.div-descarga {
    padding-top: 30px;
    padding-bottom: 20px;
}

.img-descarga {
    max-width: 325px; 
    width: 100%;
}

.hi-icon {
    cursor: default;
}

.mover-arriba {
    margin-top: -8px;
    font-size: 12px;
}

.mover-abajo {
    margin-top: 30px;
    color: #9A0E1F;
    font-size: 16px;
    font-weight: bold;
}